<div
  *ngIf="validar()"
  [ngClass]="sidebar_open == false ? 'sidebar close' : 'sidebar'"
>
  <div class="logo-details">
    <i (click)="changeEventBtn()" class="bx bx-menu"></i>
    <span class="logo_name">BeStrong</span>
  </div>
  <div *ngIf="sidebar_open" class="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="getValue()"
    ></mat-progress-bar>
    <span id="puntos">{{ cliente.puntos }} pts.</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/principal/game">
        <i class="bx bxs-home"></i>
        <span class="link_name">Home</span>
      </a>
      <ul class="sub-menu blank">
        <li routerLink="/principal/game"><a class="link_name">Juego</a></li>
      </ul>
    </li>
    <li [ngClass]="arrow1 ? 'showMenu' : ''">
      <div class="iocn-link">
        <a>
          <i class="bx bx-store-alt"></i>
          <span class="link_name">Tienda</span>
        </a>
        <i (click)="dropdown(1)" class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name">Tienda</a></li>
        <li><a (click)="open_store()">Trucos</a></li>
        <li><a (click)="open_store()">Recetas</a></li>
      </ul>
    </li>
    <li [ngClass]="arrow2 ? 'showMenu' : ''">
      <div class="iocn-link">
        <a>
          <i class="bx bxs-book"></i>
          <span class="link_name">Inventario</span>
        </a>
        <i (click)="dropdown(2)" class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li routerLink="inventario"><a class="link_name">Inventario</a></li>
        <li routerLink="inventario"><a>Conceptos</a></li>
        <li routerLink="inventario"><a>Trucos</a></li>
        <li routerLink="inventario"><a>Recetas</a></li>
      </ul>
    </li>
    <li>
      <a (click)="abrirLogros()">
        <i class="bx bx-trophy"></i>
        <span class="link_name">Logros</span>
      </a>
      <ul class="sub-menu blank">
        <li (click)="abrirLogros()"><a class="link_name">Logros</a></li>
      </ul>
    </li>
    <li (click)="openProfile()">
      <a>
        <i class="bx bxs-user"></i>
        <span class="link_name">Mi Perfil</span>
      </a>
      <ul class="sub-menu blank">
        <li (click)="openProfile()"><a class="link_name">Mi Perfil</a></li>
      </ul>
    </li>

    <li>
      <a>
        <i class="bx bx-cog"></i>
        <span class="link_name">Configuraciones</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name">Setting</a></li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profileImg">-->
        </div>
        <div class="name-job">
          <div *ngIf="cliente" class="profile_name">
            {{ cliente.first_name }}
          </div>
          <div class="job">Web Desginer</div>
        </div>
        <i (click)="cerrarSesion()" class="bx bx-log-out"></i>
      </div>
    </li>
  </ul>
</div>
<section class="fullheight">
  <app-dialog *ngIf="cliente.bodyinfo == null"></app-dialog>
  <router-outlet></router-outlet>
</section>
