<h1>Selecciona tu tipo de cuerpo</h1>
<div class="card-body-type" fxLayout="row" fxLayoutAlign="space-between none">
  <mat-card (click)="selected(0)" fxLayout="row" fxLayoutAlign="center end" matRipple>
    <div>
      <img
        mat-card-image
        src="../../../../../assets/images/informacion/ecto.png"
        alt="Photo of a Shiba Inu"
      />
      <h2>ECTOMORFO</h2>
    </div>
  </mat-card>
  <mat-card (click)="selected(1)" fxLayout="row" fxLayoutAlign="center end" matRipple>
    <div>
      <img
        mat-card-image
        src="../../../../../assets/images/informacion/endo.png"
        alt="Photo of a Shiba Inu"
      />

      <h2>ENDOMORFO</h2>
    </div>
  </mat-card>
  <mat-card (click)="selected(2)" fxLayout="row" fxLayoutAlign="center end" matRipple>
    <div>
      <img
        mat-card-image
        src="../../../../../assets/images/informacion/meso.png"
        alt="Photo of a Shiba Inu"
      />
      <h2>MESOMORFO</h2>
    </div>
  </mat-card>
</div>
