<mat-grid-list class="inventorio" cols="6" rowHeight="120px">
  <mat-grid-tile class="box-inventory">
    <img src="../../../../assets/images/informacion/document.png" alt="no-image">
  </mat-grid-tile>
  <mat-grid-tile class="box-inventory">...</mat-grid-tile>
  <mat-grid-tile class="box-inventory">...</mat-grid-tile>
  <mat-grid-tile class="box-inventory">...</mat-grid-tile>
  <mat-grid-tile class="box-inventory">...</mat-grid-tile>
  <mat-grid-tile class="box-inventory">...</mat-grid-tile>
</mat-grid-list>
