.inventorio{
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

.box-inventory{
  border: 8px solid #4b3621;
  border-radius: 8px;
  background-color: rgb(221, 201, 173);

  img{
    width: 100px;
  }

}
