.inventorio {
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

.box-inventory {
  border: 8px solid #4b3621;
  border-radius: 8px;
  background-color: rgb(221, 201, 173);
  cursor: pointer;
  img {
    width: 100px;
  }
}

.box-inventory:hover {
  background-color: #fff;
}

#valid-inv {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 4%;
}

.hide{
  display: none;
  color: white;
  position: absolute;
  bottom: -60px;
  padding: 10px;
  background-color: #1d1b31;
  border-radius: 5px;
}

.box-inventory:hover + .hide{
  display: block;
}

.content-box{
 position: relative;
}
