<div class="presentation">
  <img
    class="img-saitama"
    src="../../../../assets/images/saitama/saitama2.png"
  />
  <div class="info">
    <h1>¡Hey! Antes de empezar...</h1>
    <h2>
      Veremos cual es tu tipo de cuerpo y como calcular tus macronutrienes.
    </h2>
    <p>
      De esta forma podrás saber si eres ectomorfo, mesomorfo o endomorfo.
      Asi saber de que forma entrenar correctamente y con el cálculo
      de macronutrientes comer de forma saludable según cuales sean tus
      objetivos.
    </p>
    <div class="btn-group">
      <button (click)="next()" class="boton">Siguiente</button>
    </div>
  </div>
</div>
