img{
  width: 300px;
  height: fit-content;
  border-radius: 50px;
  margin-right: 20px;
}

.content{
  display: flex;

  .detalle{
    width: 100%;

    mat-form-field{
      width: 100%;
    }

  }

}
