.body-type {
  height: 100%;
  overflow: auto;
}

#ejemplo-calculo{
  width: 1000px;
  margin-bottom: 20px;
}

.form-calories{
  width: 80%;
  margin: 20px 0px;
}

.field-calories{
  display: block;
}

.option{
  display: block;

  span{
    width: 500px;
  }
}

a {
  font-size: 21px;
  font-weight: 600;
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
}
