<section>
  <img id="fondo-img" src="../../../../assets/images/saitama/genos2.png" alt="no-image">
  <div class="box">
    <div class="form">
      <h2>Registrate</h2>
      <form action="#">
        <div class="inputBx">
          <input type="text" placeholder="Nombre Completo" />
        </div>
        <div class="inputBx">
          <input type="text" placeholder="Apellidos" />
        </div>
        <div class="inputBx">
          <input type="email" placeholder="Correo Electronico" />
        </div>
        <div class="inputBx">
          <input type="number" placeholder="Edad" />
        </div>
        <div class="inputBx">
          <input type="text" placeholder="Username" />
        </div>
        <div class="inputBx">
          <input type="password" placeholder="Password">
        </div>
        <div class="inputBx btn">
          <button (click)="registrar()">ACEPTAR</button>
        </div>
      </form>
    </div>
  </div>
</section>
