<div class="clase">
  <h1>¡Hora de aprender!</h1>
  <h2>
    Antes de emepzar a entrenar es bueno tener en claro por que entrenamos tales
    ejercicios y por que empezamos de esta manera, y claro, tambien es genial
    ponerse a prueba y ver si hemos entendido a totalidad los concecptos
    enseñados. <br />
    ¡Tu eliges como empezar!
  </h2>

  <h3>Aprenderas</h3>

  <ul>
    <li>Los detalles y enfoque de musculos principales</li>
    <li>Como hacer flexiones o PushUps de forma apropiada</li>
    <li>La forma correcta de hacer dominadas o Pushups</li>
    <li>Todo acerca de las sentadillas o squats</li>
    <li>Como empezar a entrenar tu core con Plank</li>
    <li>Como evitar lesiones con ejercicios de carga como los Fondos</li>
  </ul>

  <mat-card (click)="irLeccion()" matRipple>
    <div class="icon">
      <mat-icon>school</mat-icon>
    </div>
    <div>
      <h1>¡Aprende todos los conceptos necesarios para este Nivel!</h1>
      <p>
        En este apartado apredenrás todo lo relacionado al Full Body Routine,
        por que usarlo cuando eres principiante, que ejercicios y como
        realizarlos.
      </p>
    </div>
  </mat-card>
</div>
