<section>
  <img id="fondo-img" src="../../../../assets/images/saitama/saitama1.png" alt="no-image">
  <div class="box">
    <div class="form">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginform">
        <div class="inputBx">
          <input type="text" formControlName="username" placeholder="Username" />
        </div>
        <div class="inputBx">
          <input type="password" formControlName="password" placeholder="Password">
        </div>
        <a [routerLink]="['/auth/registro']" id="btn-register">¿No estas registrado?</a>
        <div class="inputBx btn">
          <button [disabled]="!loginform.valid" type="button" (click)="login()">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</section>
