.body-type {
  height: 100%;
  overflow: auto;
}

ul {
  margin-left: 20px;
}

a {
  font-size: 21px;
  font-weight: 600;
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  font-family: system-ui;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: ease-out 0.4s;
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

