<div class="body-type">
  <h1>¡Antes de empezar!</h1>
  <h2>¿Cuál es tu tipo de cuerpo?</h2>
  <p>
    Nuestro cuerpo es diferente al de los demás y se clasifica en diferentes
    tipos: ectomorfo, mesomorfo o endomorfo y cada uno es distinto. Dentro de
    éstos hay diferencia pero conviene saber cómo lo tenemos para conocer a
    fondo qué comer y cómo estar en forma.
  </p>
  <h2>¿Cómo es el tipo de cuerpo mesomorfo?</h2>
  <p>
    Este tipo de cuerpo pertenece a aquellas personas que tienen una complexidad
    algo atlética, y fuerte a la vez, por lo que subir de peso fácilmente es
    algo que puede estar entre sus características.
  </p>
  <h3>Rasgos generales</h3>
  <ul>
    <li>Músculos duros</li>
    <li>Cuerpos en forma de V</li>
    <li>Cintura más estrecha</li>
    <li>Hombros y complexión ancha</li>
  </ul>

  <h2>¿Cómo es el cuerpo endomorfo?</h2>
  <p>
    Es un tipo de cuerpo que representa tener mucha más grasa corporal. Quien
    tiene un cuerpo de tipo endomorfo gana músculo en seguida, pero en
    contraposición tienen un metabolismo lento que hace que no puedan quemar
    esta grasa de inmediato.
    <br />
    <br />
    La cintura, a diferencia del anterior tipo es algo más ancha, además les
    cuesta bajar de peso, deben cuidar su alimentación, hacer ejercicio a
    diario, con el fin de quemar antes las calorías.
  </p>
  <h3>Rasgos generales</h3>
  <ul>
    <li>Articulaciones anchas</li>
    <li>Músculos menos definidos</li>
    <li>Tendencia a ganar peso</li>
    <li>Tiene más complejidad en perder peso</li>
  </ul>

  <h2>¿Cómo es el cuerpo ectomorfo?</h2>
  <p>
    En este caso corresponde a personas que están mucho más delgadas y por tanto
    también acumulan menos grasa. No les cuesta perder peso, pero no tendrán
    casi músculos a no ser que se lo trabajen de forma importante en el gimnasio
    o con algún entrenador.
    <br />
    <br />
    Cuentan con las extremidades largas que no suelen comer mucho y que en el
    caso de que lo hagan, entonces no suelen engordan demasiado.
  </p>
  <h3>Rasgos generales</h3>
  <ul>
    <li>Complexión delgada</li>
    <li>Estrechez en la parte de los hombros y la cintura.</li>
    <li>Con un metabolismo rápido</li>
  </ul>

  <a
    class="enlace-video"
    target="_blank"
    href="https://www.youtube.com/watch?v=OGndKK1WOaU"
    >Video Explicativo</a
  >

  <!--<img
    id="info-body"
    src="../../../../assets/images/informacion/tipos-cuerpojpg.jpg"
    alt="no-image"
  />-->
  <div
    style="margin-right: 10px; padding-top: 10px; border-top: 2px solid #ebbd53"
    class="btn-group"
  >
    <button (click)="next()" class="boton">Siguiente</button>
  </div>
</div>
